
*.ilk
*.pdb
*.o
*.obj
build/Windows/gi/Debug/cgi.obj.enc
build/Windows/gi/Debug/gi.log
build/Windows/gi/Debug/gi.tlog/CL.command.1.tlog
build/Windows/gi/Debug/gi.tlog/CL.read.1.tlog
build/Windows/gi/Debug/gi.tlog/CL.write.1.tlog
build/Windows/gi/Debug/gi.tlog/gi.lastbuildstate
build/Windows/gi/Debug/gi.tlog/link.command.1.tlog
build/Windows/gi/Debug/gi.tlog/link.read.1.tlog
build/Windows/gi/Debug/gi.tlog/link.write.1.tlog
build/Windows/gi/Debug/vc141.idb
build/Windows/magic/.vs/magic/v15/.suo
build/Windows/magic/.vs/magic/v15/Browse.VC.db
build/Windows/magic/.vs/magic/v15/Browse.VC.opendb
build/Windows/magic/.vs/magic/v15/ipch/242079e850d49e1a.ipch
build/Windows/magic/.vs/magic/v15/ipch/894581f3d2b8c055.ipch
build/Windows/magic/.vs/magic/v15/ipch/8ea9daafbf1b8445.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/2c4c84d3a6e5ebaa/CCAMERACOMPONENT.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/3aace34ef1e4164e/CGLES3RENDERTARGET.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/3b79dd5032a55a82/CGLES3TEXTURE.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/43640ff1f6bce192/CTIME.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/45317d417aa131d5/MAGIC.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/45a1162ff16b8dc8/CGLES3SHADERPROGRAM.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/4d387674a7281658/CGLES3RENDERER.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/60d19dd81e05f6a2/CMATERIAL.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/73578bb78541383e/CGLES3INDEXBUFFEROBJECT.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/73e52abda7ed0fcd/CAPPLICATION.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/86426eee88417024/CRENDERER.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/a22a160ddd4ad72/MAIN.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/c1f3b7e656a21bee/CMAGIC.ipch
build/Windows/magic/.vs/magic/v15/ipch/AutoPCH/e9552bcc8a8754b7/CGI.ipch
build/Windows/magic/Debug/magic.idb
build/Windows/magic/Debug/magic.log
build/Windows/magic/Debug/magic.tlog/CL.command.1.tlog
build/Windows/magic/Debug/magic.tlog/CL.read.1.tlog
build/Windows/magic/Debug/magic.tlog/CL.write.1.tlog
build/Windows/magic/Debug/magic.tlog/Lib-link.read.1.tlog
build/Windows/magic/Debug/magic.tlog/Lib-link.write.1.tlog
build/Windows/magic/Debug/magic.tlog/Lib.command.1.tlog
build/Windows/magic/Debug/magic.tlog/link.command.1.tlog
build/Windows/magic/Debug/magic.tlog/link.read.1.tlog
build/Windows/magic/Debug/magic.tlog/link.write.1.tlog
build/Windows/magic/Debug/magic.tlog/magic.lastbuildstate
build/Windows/magic/Debug/vc141.idb
build/Windows/magic/Release/magic.log
build/Windows/magic/Release/magic.tlog/CL.command.1.tlog
build/Windows/magic/Release/magic.tlog/CL.read.1.tlog
build/Windows/magic/Release/magic.tlog/CL.write.1.tlog
build/Windows/magic/Release/magic.tlog/link.command.1.tlog
build/Windows/magic/Release/magic.tlog/link.read.1.tlog
build/Windows/magic/Release/magic.tlog/link.write.1.tlog
build/Windows/magic/Release/magic.tlog/magic.lastbuildstate
build/Windows/magic/Release/magic.tlog/magic.write.1u.tlog
